{% extends 'base.html' %} {% load static %} {% load cart_filers %}{% load humanize %}{% block content %}
<style>
  .cart-plus-minus-box {
    border: 1px solid #e1e1e1;
    color: #242424;
    height: 46px;
    text-align: center;
    width: 48px;
    width: 48px;
    width: 3rem;
    background: #fff;
  }
</style>
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="/">الصفحة ارئيسية</a></li>
        <li class="active">سلة التسوق</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form>
          <div class="table-content table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="li-product-remove">إزالة</th>
                  <th class="li-product-thumbnail">صورة</th>
                  <th class="cart-product-name">البطاقة</th>
                  <th class="li-product-price">سعر البطاقة</th>
                  <th class="li-product-quantity">الكمية</th>
                  <th class="li-product-subtotal">المجموع</th>
                </tr>
              </thead>
              <tbody>
                {% for card in cart_cards %}
                <tr>
                  <td class="li-product-remove">
                    <a href="{% url 'cart-delete' card.id %}"><i class="fa fa-times"></i></a>
                  </td>
                  <td class="li-product-thumbnail">
                    <a href="{% url 'game-details' card.game.slug %}">
                      <img src="{{card.game.image_url}}" alt="Li's Product Image" style="height: 150px" />
                    </a>
                  </td>
                  <td class="li-product-name">
                    <a href="{% url 'game-details' card.game.slug %}">{{card.game.name}}</a>
                  </td>
                  <td class="li-product-price"><span class="amount">{{card.price|intcomma}}</span></td>
                  <td class="quantity">
                    <label>Quantity</label>
                    <div class="cart--plus-minus">
                      <input
                        class="cart-plus-minus-box"
                        value="{{card|get_quantity:cart}}"
                        data-id="{{card.id}}"
                        type="number" />
                      <!-- <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                      <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div> -->
                    </div>
                  </td>
                  <td class="product-subtotal"><span class="amount">{{card|total_price:cart|intcomma}}</span></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="coupon-all">
                <div class="coupon"></div>
                <div class="coupon2">
                  <input class="button" name="update_cart" value="تحديث السلة" type="submit" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="cart-page-total">
                <h2>Cart totals</h2>
                <ul>
                  <li>
                    الإجمالي
                    <span>ج.س. {{cart.get_cart_total|intcomma}}</span>
                  </li>
                  <li>
                    المجموع
                    <span>ج.س. {{cart.get_cart_total|intcomma}}</span>
                  </li>
                </ul>
                <a href="{% url 'checkout' %}">التقدم لإتمام الطلب</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Shopping Cart Area End-->
<script>
  const cartBoxes = document.querySelectorAll(".cart-plus-minus-box");
  cartBoxes.forEach((cartBox) => {
    cartBox.addEventListener("change", (e) => {
      let value = e.target.value;
      let card_id = cartBox.dataset.id;

      let response = fetch('{% url "cart-update" %}', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          card_id: card_id,
          qty_value: value,
        }),
      });
    });
  });
</script>
{% endblock %}
